* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.white,.problem-white{
    width: 4rem;
    height: 4rem;
    background-color: while;
    border: 0.5px black solid;
    
}
.white{
    cursor: pointer;
}

.rat {
    padding: 10px;
    background-image: url('./rat.png');
    background-size: cover;
}

.des {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    background-image: url('./home.png');
    background-size: cover;
}

.red{
    width: 4rem;
    height: 4rem;
    background-color: red;
    border: 0.5px black solid;
    
}

.green{
    width: 4rem;
    height: 4rem;
    background-color: green;
    border: 0.5px black solid;
}
.container{
    padding-top: 10px;
    
}
.solution-container {
    justify-content: center;
    display: flex;
    padding: 10px;
    gap: 30px;
    flex-wrap: wrap;
}

.problem-container{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    
}
.problem-setup{
    display: grid;
   
}
.game-setup,.input-container, .game-setup-container {
    display: flex;
    align-items: center;
}
.input-container{
    justify-content: space-around;
    gap: 30px;
    
}

@media only screen and (max-width: 600px) {
    .input-container{
      flex-direction: column;
    }
  }

.game-setup-container{
    gap: 20px;
    flex-direction: column;
    justify-content: space-around;

}
input{
    height: 30px;
    padding-left: 10px;
    font-size: 16px;
}


.btn-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content:center;
    align-items: center;
}

button {
    outline: none;
    width: 120px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
}
.alert {
    color: red;
    font-size: 12px;
}